@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-screen;
  @apply m-0;
}
 
@layer base {
  :root {
    --background: rgb(242, 242, 242);
    --foreground: rgb(3, 7, 18);

    --card: rgb(255, 255, 255);
    --card-foreground: rgb(3, 7, 18);
 
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(3, 7, 18);
 
    --primary: rgb(171, 210, 158); /* Verde */
    --primary-foreground: rgb(210, 238, 201); /* Verde Claro */
    --primary-background: rgb(252, 252, 252); /* Branco */

    --content: rgb(115, 119, 123); /*Texto*/
 
    --secondary: rgb(243, 244, 246);
    --secondary-foreground: rgb(17, 24, 39);
 
    --muted: rgb(243, 244, 246);
    --muted-foreground: rgb(107, 114, 128);
 
    --accent: rgb(243, 244, 246);
    --accent-foreground: 2rgb(17, 24, 39);
 
    --destructive: rgb(239, 68, 68);
    --destructive-foreground: rgb(249, 250, 251);

    --border: rgba(229, 231, 235, 1);
    --input: rgb(229, 231, 235);
    --ring: rgb(3, 7, 18);
 
    --radius: 0.5rem;
    --navbar: 4rem;
    --sidebar: 88px;

    --brand: rgb(10, 255, 157);

    --shadow_color: rgba(60, 60, 60, 0.25);
  }
 
  .dark {
    --background: rgb(32, 45, 37); /* Verde bem escuro */
    --foreground: rgb(249, 250, 251);
 
    --card: rgb(3, 7, 18);
    --card-foreground: rgb(249, 250, 251);
 
    --popover: rgb(32, 45, 37);
    --popover-foreground: rgb(249, 250, 251);
 
    --primary: rgb(171, 210, 158); /* Verde */
    --primary-foreground: rgb(122, 184, 151); /* Verde */
    --primary-background: rgb(51, 91, 69); /* Verde escuro */

    --content: rgb(241, 246, 249); /*Texto Branco*/
 
    --secondary: rgb(31, 41, 55);
    --secondary-foreground: rgb(249, 250, 251);
 
    --muted: rgb(31, 41, 55);
    --muted-foreground: rgb(156, 163, 175);
 
    --accent: rgb(122, 184, 151); /* Verde */
    --accent-foreground: rgb(249, 250, 251);
 
    --destructive: rgb(127, 29, 29);
    --destructive-foreground: rgb(249, 250, 251);
 
    --border: rgba(32, 45, 37, 1);
    --input: rgb(32, 45, 37);
    --ring: rgb(209, 213, 219);

    --shadow_color: rgba(30, 30, 30, 0.5);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-content;
  }
}