@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-screen;
  @apply m-0;
}
 
@layer base {
  :root {
    --background: rgb(242, 242, 242);
    --foreground: rgb(3, 7, 18);

    --card: rgb(255, 255, 255);
    --card-foreground: rgb(3, 7, 18);
 
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(3, 7, 18);
 
    --primary: rgb(171, 210, 158); /* Verde */
    --primary-foreground: rgb(210, 238, 201); /* Verde Claro */
    --primary-background: rgb(252, 252, 252); /* Branco */

    --content: rgb(115, 119, 123); /*Texto*/
 
    --secondary: rgb(243, 244, 246);
    --secondary-foreground: rgb(17, 24, 39);
 
    --muted: rgb(243, 244, 246);
    --muted-foreground: rgb(107, 114, 128);
 
    --accent: rgb(243, 244, 246);
    --accent-foreground: 2rgb(17, 24, 39);
 
    --destructive: rgb(239, 68, 68);
    --destructive-foreground: rgb(249, 250, 251);

    --border: rgba(229, 231, 235, 1);
    --input: rgb(229, 231, 235);
    --ring: rgb(3, 7, 18);
 
    --radius: 0.5rem;
    --navbar: 4rem;
    --sidebar: 88px;

    --brand: rgb(10, 255, 157);

    --shadow_color: rgba(60, 60, 60, 0.25);
  }
 
  .dark {
    /*--background: 224 71.4% 4.1%; /* Preto */
    --background: 143 17% 15%; /* Verde bem escuro */
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    /*--popover: 224 71.4% 4.1%;*/
    --popover: 143 17% 15%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 105 36.62% 72.16%; /* Verde */
    --primary-foreground: 148 30% 60%; /* Verde */
    /*--primary-background: 235 16% 30%; /* Azul escuro */
    --primary-background: 146 28% 28%; /* Verde escuro */

    --content: 202 40% 96%; /*Texto Branco*/
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    /*--accent: 215 27.9% 16.9%;*/
    --accent: 148 30% 60%; /* Verde */
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: rgba(32, 45, 37, 1);
    --input: 143 17% 15%;
    --ring: 216 12.2% 83.9%;

    --shadow_color: rgba(30, 30, 30, 0.5);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-content;
  }
}